/*Progress Line*/

.progress-bar {
  margin: 0 0 15px;
  overflow: hidden;
  background-color: transparent;
  padding-right: 24px; /* Separate bars from container */
}
.progress-title-holder {
  padding-bottom: 7px;
  position: relative;
  margin: 5px 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #2e2e2e;  
}
.progress-title {
    z-index: 100;
}
.progress-number-wrapper {
  width: 100%;
  z-index: 10;
}
.progress-number-mark {
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: rgb(22,23,29);
  padding: 0 8px;
  position: absolute;
  bottom: 0;   
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); 
} 
.progress-number-wrapper,
.progress-number-mark {
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #ffffff;
}
.progress-number-mark{
    .percent{
        color: #fff;
    }
}
.down-arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #16171d;
  position: absolute;
  left: 50%;
  top: 100%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);  
}
.progress-content-outter {
  height: 12px;
  background-color: $secondary-color-light;
}
.progress-content {
  height: 21px;
  background-color: $primary-color;
  width: 0%; /* Initial value */
}
.progress-title{
    color: $text-dark;
    font-weight: 700;
    font-size: 18px;
}

/*Progress Circle*/
.css3progress {
  border: 8px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  display: inline-block;
  font-variant: small-caps;
  font-weight: bold;
  height: 180px;
  letter-spacing: 0.15em;
  line-height: 160px;
  position: relative;
  text-align: center;
  width: 180px;
}
.css3progress progress{
  position:fixed;
  left:-9999px;
}
.css3progress::after, .css3progress::before {
  border-radius: 100%;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
p.css3progress {
  font-size: 30px;
}
.css3progress:before {
 border:transparent solid 8px;
  border-top-color:#345;
  box-shadow: 
    inset  0px  0px  00px 01px #999999,
    inset -1px -2px  03px 00px #556677,
    inset  3px  3px  25px 00px #3A74a5,
           0px  0px  01px 00px #000000,
           0px  0px  03px 01px #ffffff,
           0px  0px  10px 01px #000000  
    ;
  animation: progressbg 4s infinite linear;
  z-index:1;
  
}
.css3progress:after {
 border:transparent solid 8px;
  border-top-color:#345;
  animation: progressfr 4s infinite linear;
  transform:rotate(10deg);
}
.progress-circular{
    canvas{
        width: 100px;
    }
    input{
        left: 55px;
        bottom: 38px;
        background: transparent;
        border: 0;
        color: #212529;
    }
}
@keyframes progressbg {
    0%  {transform:rotate(10deg);}
50% {border-color:#0A76B7;}
  100% { transform:rotate(360deg);}
}
@keyframes progressfr {
    0% {transform:rotate(90deg); }
50% {border-color:turquoise;}
  100% {transform:rotate(-270deg)}
}
@media (min-width:1200px){
    .progress-circular{
        input{
            left: 73px;
            bottom: 38px;
            background: transparent;
            border: 0;
            color: #212529;
        }
    }
}