// Theme Color Define
$primary-color:            #26b2cb;
$primary-color-light:      #38b6cd;
$secondary-color:          #445261;
$secondary-color-light:    #3e3e3e;
$default-color:            #000000;
$light-color:              #ffffff;
$alt-color:                #f9f9f9;
$alter-color:              #e3e3e3;
$bg-light:                 #f9f9f9;
$bg-dark:                  #33373b;
$theme-dark:               #142c42;
$theme-light:              #1b364f;

// Text Color
$text-light:               #fff;
$text-dark:                #212529;

// Border Color
$border-color:             #efefef;