/*!
Template :	Company | Mltipurpose Template
Author	 :	Name
Version	 :	1.0.0
Updated	 :	06.09.2019
*/
/*!
 * Table of Contents
 * 01.0 - Fonts
 * 02.0 - Reset
 * 03.0 - Space
 * 04.0 - Utility
 * 05.0 - Plugins
 * 06.0 - Ui Elements
 * 07.0 - Layouts
 * 08.0 - Cards
*/

// Variables
@import "variables";

/*! 01.0 Fonts */
@import "fonts";

/*! 02.0 Reset */
@import "reset";

/*! 03.0 Space */
@import "space";

/*! 04.0 Utility */
@import "utility";

/*! 05.0 Plugins */
@import "plugins";

/*! 06.0 Progress */
@import "progress";

/*! 07.0 Ui Elements */
@import "list";

/*! 08.0 Layouts */
@import "layouts";

/*! 09.0 Blog */
@import "blog";

/*! 10.0 Cards */
@import "elements";